# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.build
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
docker-compose.yml
db/sqlite.db

# Local env files
.env
.env.*
!.env.sample

# Generated Map Preview
public/map-preview.png
public/flat-images/*